body{
    font-family:cursive ;

}
*{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
.demo{
   text-align: center; 
}
.Months{
    padding: 70px 30px;
    width:100% ;
    text-align: center;
    background: #e716a8;
}
.Months ul{
margin:0;
padding:0;
}
.Months ul li{
    color:white;
    font-size: 30px;
    letter-spacing: 4px;
}
.Months .prev-btn{
    padding-top:14px ;
    float: left;
}
.Months .next-btn{
    padding-top:14px ;
    float: right;
}
.week{
    margin:0 ;
    padding: 10px 0px;
background-color: black;
}
.week li{
  color:white ;  
   width:12% ;
  display: inline-block;
  text-align: center;

}
.Day{
    background-color:rgb(204, 192,192 ) ;
    padding:10px 0 ;
    margin: 0;
}
.Day li{
    display: inline-block;
    width:14%;
    text-align: center;
    color: black;
    margin-bottom:5px ;
    
    font-size:14px ;
}
.Day li .active{
padding: 5px;
background: #e716a8 ;
color:white ;
}
@media screen and (max-width:720px){
    .week li , .Day li{
        width: 13.5%;
    }
} 
@media screen and (max-width:420px){
    .week li , .Day li{
        width: 12.5%;
    }
 
  .Day li .active{
    padding:2px ;
  }
}  
  @media screen and (max-width:290px){
 .week li, .Day li{
    width:12.5%;
}
  } 
  

